body, .rptBody {
   background:#ffffff;
   color:#000;
   font-size:10pt;
   font-family:Arial;
}

.rptFooter {
   font-size:10px;
   font-family:Arial;
}
table {
   border-collapse:collapse;
   background:#ffffff;
   color:#000;
   font-size:10pt;
   font-family:Arial;
   font-weight:400;
}
th, td_hdr {text-align:center;font-weight:600;background: #666666;}
td_dtl {font-weight:400;}
.center-- {text-align:center}
.right-- {text-align:right}
.left-- {text-align:left}

tbody > tr > td, .colHEADER > th {
   border:1px solid black;
   padding:3px;
}

.errmsg {
   font-weight:600;
   color:red;
}
.pad-left {
   padding-left:10px;
}
@media print {
   .ruler, .noPrint, .noPrint *{display: none !important;}
   .nextpage  {page-break-after:always;}
   .lastpage  {page-break-after:avoid;}
   .page-- {max-height:14in;width:8.5in;border:0px solid #ddd;}
}
